absl-py==1.4.0
addict==2.4.0
appdirs==1.4.4
cachetools==4.2.4
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.6
contourpy==1.1.0
cycler==0.11.0
docker-pycreds==0.4.0
fonttools==4.41.0
gitdb==4.0.10
GitPython==3.1.32
google-auth==1.35.0
google-auth-oauthlib==0.4.6
grpcio==1.56.0
idna==3.4
imageio==2.10.3
importlib-metadata==6.8.0
importlib-resources==6.0.0
kiwisolver==1.4.4
lmdb==1.2.1
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
mdurl==0.1.2
mkl-fft==1.3.6
mkl-random @ file:///work/mkl/mkl_random_1682950433854/work
mkl-service==2.4.0
mmcv==0.5.1
-e git+https://github.com/open-mmlab/mmdetection.git@0f33c08d8d46eba8165715a0995841a975badfd4#egg=mmdet&subdirectory=../../../third_part/mmdetection
mmengine==0.8.2
networkx==3.1
numpy @ file:///work/mkl/numpy_and_numpy_base_1682953417311/work
oauthlib==3.2.2
opencv-python==4.5.4.58
packaging==23.1
pathtools==0.1.2
Pillow==6.2.2
platformdirs==3.8.1
protobuf==3.19.0
psutil==5.9.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycocotools==2.0.4
Pygments==2.15.1
pyparsing==3.0.9
python-dateutil==2.8.2
PyWavelets==1.4.1
PyYAML==5.4.1
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.4.2
rsa==4.9
scikit-image==0.17.2
scipy==1.5.4
sentry-sdk==1.28.1
setproctitle==1.3.2
six==1.16.0
smmap==5.0.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==2.3.0
terminaltables==3.1.10
tifffile==2023.7.10
tomli==2.0.1
torch==1.7.1
torchaudio==0.7.0a0+a853dff
torchvision==0.8.2
tqdm==4.62.3
typing_extensions @ file:///croot/typing_extensions_1686601443660/work
urllib3==2.0.3
wandb==0.15.5
Werkzeug==2.3.6
yapf==0.40.1
zipp==3.16.1
